@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-container {
  position: relative;
  width: 300px;
}

/* Styling the select element */
@layer base {
  select {
    width: 100%;
    border: 1px solid black;
  }

  /* Styling the options list */
  select option {
    position: absolute;
    top: 180%; /* Position options list just below the select element */
    left: 0;
    width: 100%;
    z-index: 1; /* Ensure options list is above other elements */
  }

  /* Display options below the select element */
  select:focus option {
    display: block;
  }
}
